@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    var title = Model.Value<string>("title");
    var description = Model.Value<string>("description");
    var progressbarfirst = Model.Value<string>("progressBarFirst");
    var progressbarsecond = Model.Value<string>("progressBarSecond");
    var progressbarthird = Model.Value<string>("progressBarThird");
    var progressbarfourth = Model.Value<string>("progressBarFourth");
    var percentagefirst = Model.Value<string>("percentageFirst");
    var percentagesecond = Model.Value<string>("percentageSecond");
    var percentagethird = Model.Value<string>("percentageThird");
    var percentagefourth = Model.Value<string>("percentageFourth");
    var imageright = Model.Value<IPublishedContent>("imageRight").Url;
}

<title>GALINA - ABOUT</title>

<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6">
                <div class="about-info">
                    <div class="section-title">
                        <h2><font color="#000000">@title</font></h2>
                        <span class="line-bar">...</span>
                    </div>
                    @description
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="about-info skill-thumb">

                    <strong>@progressbarfirst</strong>
                    <span class="pull-right">@percentagefirst</span>
                    <br />
                    <br />

                    <strong>@progressbarsecond</strong>
                    <span class="pull-right">@percentagesecond</span>
                    <br />
                    <br />

                    <strong>@progressbarthird</strong>
                    <span class="pull-right">@percentagethird</span>
                    <br />
                    <br />

                    <strong>@progressbarfourth</strong>
                    <span class="pull-right">@percentagefourth</span>
                    <br />
                    <br />

                </div>
            </div>

            <div class="col-md-4 col-sm-12">
                <div class="about-image">
                    <img src="@imageright" class="img-responsive" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("~/Views/Partials/Navigation/BottomNavigation.cshtml")