@using SitePedro.Controllers
@using SitePedro.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
}

<title>GALINA - CONTACT</title>

<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2><font color="#000000">Contact</font></h2>
                    <span class="line-bar">...</span>
                </div>
            </div>
            @using (Html.BeginUmbracoForm<ContactEntriesSurfaceController>("ContactEntries", FormMethod.Post, "form-horizontal"))
            {
                var contactEntriesModel = (ContactEntriesModel)ViewBag.contactsEntriesModel;

            <div class="col-md-8 col-sm-8">

                <!-- CONTACT FORM HERE -->

                <div class="col-md-6 col-sm-6">
                    @Html.TextBoxFor(m => contactEntriesModel.FullName, new { @class = "form-control", @placeholder = "Your Full Name" })
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.TextBoxFor(m => contactEntriesModel.Email, new { @class = "form-control", @placeholder = "Your Email Address", @type = "email"})
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.TextBoxFor(m => contactEntriesModel.PhoneNumber, new { @class = "form-control", @placeholder = "Your Phone Number", @maxlength = "9" })
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.EnumDropDownListFor(m => contactEntriesModel.Budget, new { @class = "form-control" })
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.TextAreaFor(m => contactEntriesModel.Requirements, 10, 40, new { @class = "form-control", @placeholder = "Your Requirements" })
                </div>

                <div class="col-md-4 col-sm-12">
                    <input type="submit" class="form-control" name="submit" value="Send Message">
                </div>

            </div>
            }

            <div class="col-md-4 col-sm-4">
                <div class="google-map">
                    <!-- How to change your own map point
                    1. Go to Google Maps
                    2. Click on your location point
                    3. Click "Share" and choose "Embed map" tab
                    4. Copy only URL and paste it within the src="" field below
            -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.362831990513!2d-9.332556684655188!3d38.70947797960017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecf25912024f1%3A0xd5643e4a38faa7de!2sE.+Leclerc!5e0!3m2!1spt-PT!2spt!4v1555333906402!5m2!1spt-PT!2spt" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</section>