@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Master.cshtml";
    var imageone = Model.Value<IPublishedContent>("imageOne").Url;
    var imagetwo = Model.Value<IPublishedContent>("imageTwo").Url;
    var imagethree = Model.Value<IPublishedContent>("imageThree").Url;
    var imagefour = Model.Value<IPublishedContent>("imageFour").Url;
    var imageonetext = Model.Value<string>("imageOneText");
    var imagetwotext = Model.Value<string>("imageTwoText");
    var imagethreetext = Model.Value<string>("imageThreeText");
    var imagefourtext = Model.Value<string>("imageFourText");
}

<title>GALINA - GALLERY</title>

<!-- WORK -->
<section id="work" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <br />
                    <br />
                    <h2><font color="#000000">Our gallery</font></h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <img src="@imageone" class="img-responsive" alt="Work">

                    <div class="work-info">
                        <h3>@imageonetext</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <img src="@imagetwo" class="img-responsive" alt="Work">

                    <div class="work-info">
                        <h3>@imagetwotext</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <img src="@imagethree" class="img-responsive" alt="Work">

                    <div class="work-info">
                        <h3>@imagethreetext</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <!-- WORK THUMB -->
                <div class="work-thumb">
                    <img src="@imagefour" class="img-responsive" alt="Work">

                    <div class="work-info">
                        <h3>@imagefourtext</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("~/Views/Partials/Navigation/BottomNavigation.cshtml")