@using System.Web.Mvc.Html
@using Umbraco.Web
@using SitePedro.Controllers
@using SitePedro.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ProfilePageModel>
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Layout = "Master.cshtml";
}



@if (Request.IsAuthenticated)
{


    <div class="container" style="padding-top: 60px;">
        <h1 class="page-header">Your Profile</h1>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#username">Username</a></li>
            <li><a data-toggle="tab" href="#password">Password</a></li>
            <li><a data-toggle="tab" href="#personal">Personal</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="username">
                <h3>Change Username</h3>
                @using (Html.BeginUmbracoForm<ProfileSurfaceController>("ChangeUsername", FormMethod.Post, "form-horizontal"))
                {
                    var changeUsernameModel = (ChangeUsernameModel)ViewBag.changeUsernameModel;

                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-lg-3 control-label">New Username:</label>
                        @Html.TextBoxFor(m => changeUsernameModel.NewUsername, new { @class = "form-control" })
                        <label class="col-lg-3 control-label">Confirm Username:</label>
                    </div>
                    @Html.TextBoxFor(m => changeUsernameModel.ConfirmUsername, new { @class = "form-control" })
                    @Html.ValidationSummary()
                    <input type="submit" value="Save Changes">

                }

            </div>

            <div class="tab-pane" id="password">
                <h3>Change Password</h3>
                @using (Html.BeginUmbracoForm<ProfileSurfaceController>("ChangePassword", FormMethod.Post, "form-horizontal"))
                {
                    var changePasswordModel = (ChangePasswordModel)ViewBag.changePasswordModel;

                    @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-lg-3 control-label">Old Password:</label>
                    @Html.TextBoxFor(m => changePasswordModel.OldPassword, new { @class = "form-control", @type = "password" })
                    <label class="col-lg-3 control-label">New Password:</label>
                    @Html.TextBoxFor(m => changePasswordModel.NewPassword, new { @class = "form-control", @type = "password" })
                    @Html.ValidationSummary()
                    <input type="submit" value="Save Changes">
                </div>
                }

            </div>

            <div class="tab-pane" id="personal">
                <h3>Personal Info</h3>
                @using (Html.BeginUmbracoForm<ProfileSurfaceController>("Personal", FormMethod.Post, "form-horizontal"))
                {
                    var profileModel = Model.Profile;
                    <div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <img src="@(profileModel?.ImagemUrl)" class="avatar img-circle img-thumbnail">
                                <h6>Upload a different avatar...</h6>
                                <h8>Only PNG, JPG and JPEG files are valid.</h8>

                                <input type="file" class="text-center center-block well well-sm" name="profileModel.ImagemParaCarregar">
                            </div>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="col-lg-3 control">Name and Surname</label>
                            @Html.TextBoxFor(m => profileModel.NameandSurname, new { @class = "form-control" })
                            <label class="col-lg-3 control-label">Birthday</label>
                            @Html.TextBoxFor(m => profileModel.Birthday, new { @class = "form-control", @id = "date", type = "date" })
                            <label class="col-lg-3 control-label">Weight (in kg)</label>
                            @Html.TextBoxFor(m => profileModel.Weight, new { @class = "form-control", @type = "number" })
                            <label class="col-lg-3 control-label">Height (in cm)</label>
                            @Html.TextBoxFor(m => profileModel.Height, new { @class = "form-control", @type = "number" })
                            <label class="col-lg-3 control-label">Hair Color</label>
                            @Html.TextBoxFor(m => profileModel.HairColor, new { @class = "form-control", })
                            <label class="col-lg-3 control-label">Eye Color</label>
                            @Html.TextBoxFor(m => profileModel.EyeColor, new { @class = "form-control" })
                            <br />
                            <input type="submit" value="Save Changes">

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}
else
{
    Response.Redirect("~/home");
}